USE [master]
GO
/****** Object:  Database [QLSVien]    Script Date: 3/18/2018 8:33:22 PM ******/
CREATE DATABASE [QLSVien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLSVien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.TINLM\MSSQL\DATA\QLSVien.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLSVien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.TINLM\MSSQL\DATA\QLSVien_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSVien]
GO
/****** Object:  Table [dbo].[DKIEN]    Script Date: 3/18/2018 8:33:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DKIEN](
	[MAMH] [varchar](8) NOT NULL,
	[MAMH_TRUOC] [varchar](8) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC,
	[MAMH_TRUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HPHAN]    Script Date: 3/18/2018 8:33:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HPHAN](
	[MAHP] [int] NOT NULL,
	[MAMH] [varchar](8) NOT NULL,
	[HOCKI] [int] NULL,
	[NAM] [int] NULL,
	[GV] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 3/18/2018 8:33:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKHOA] [varchar](4) NOT NULL,
	[TENKHOA] [varchar](30) NOT NULL,
	[NAMTHANHLAP] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KQUA]    Script Date: 3/18/2018 8:33:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KQUA](
	[MASV] [int] NOT NULL,
	[MAHP] [int] NOT NULL,
	[DIEM] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[MAHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MHOC]    Script Date: 3/18/2018 8:33:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MHOC](
	[TENMH] [varchar](30) NOT NULL,
	[MAMH] [varchar](8) NOT NULL,
	[TINCHI] [int] NULL,
	[MAKH] [varchar](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SVIEN]    Script Date: 3/18/2018 8:33:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SVIEN](
	[TEN] [varchar](30) NOT NULL,
	[MASV] [int] NOT NULL,
	[NAM] [int] NULL,
	[MAKH] [varchar](4) NOT NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [varchar](5) NULL,
 CONSTRAINT [PK__SVIEN__60228A28D622397E] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[HPHAN] ([MAHP], [MAMH], [HOCKI], [NAM], [GV]) VALUES (1, N'KTR191', 3, 2014, N'HoangNT')
INSERT [dbo].[HPHAN] ([MAHP], [MAMH], [HOCKI], [NAM], [GV]) VALUES (2, N'WIG202', 1, 2015, N'HieuNT')
INSERT [dbo].[HPHAN] ([MAHP], [MAMH], [HOCKI], [NAM], [GV]) VALUES (3, N'SWE102', 4, 2016, N'HuongNCT')
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA], [NAMTHANHLAP]) VALUES (N'BA', N'Business Administrator', 2005)
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA], [NAMTHANHLAP]) VALUES (N'SE', N'Software Engineering', 2009)
INSERT [dbo].[KQUA] ([MASV], [MAHP], [DIEM]) VALUES (1, 3, 10)
INSERT [dbo].[KQUA] ([MASV], [MAHP], [DIEM]) VALUES (2, 3, 5)
INSERT [dbo].[KQUA] ([MASV], [MAHP], [DIEM]) VALUES (2, 4, 8)
INSERT [dbo].[MHOC] ([TENMH], [MAMH], [TINCHI], [MAKH]) VALUES (N'Accounting', N'KTR191', 2, N'BA')
INSERT [dbo].[MHOC] ([TENMH], [MAMH], [TINCHI], [MAKH]) VALUES (N'Web-based Java', N'PRJ321', 3, N'SE')
INSERT [dbo].[MHOC] ([TENMH], [MAMH], [TINCHI], [MAKH]) VALUES (N'Introduction to SE', N'SWE102', 3, N'SE')
INSERT [dbo].[SVIEN] ([TEN], [MASV], [NAM], [MAKH], [NGAYSINH], [GIOITINH]) VALUES (N'Ba Con Heo', 1, 1, N'SE', CAST(N'1995-05-05' AS Date), N'Be De')
INSERT [dbo].[SVIEN] ([TEN], [MASV], [NAM], [MAKH], [NGAYSINH], [GIOITINH]) VALUES (N'Cuong To Quoc', 2, 3, N'SE', CAST(N'1991-01-01' AS Date), N'Nam')
INSERT [dbo].[SVIEN] ([TEN], [MASV], [NAM], [MAKH], [NGAYSINH], [GIOITINH]) VALUES (N'Tin Le Minh', 3, 3, N'SE', CAST(N'1992-02-02' AS Date), N'Nam')
ALTER TABLE [dbo].[DKIEN]  WITH CHECK ADD  CONSTRAINT [FK_DKIEN_MAMH] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MHOC] ([MAMH])
GO
ALTER TABLE [dbo].[DKIEN] CHECK CONSTRAINT [FK_DKIEN_MAMH]
GO
ALTER TABLE [dbo].[HPHAN]  WITH CHECK ADD  CONSTRAINT [FK_HPHAN_MAMH] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MHOC] ([MAMH])
GO
ALTER TABLE [dbo].[HPHAN] CHECK CONSTRAINT [FK_HPHAN_MAMH]
GO
ALTER TABLE [dbo].[KQUA]  WITH CHECK ADD  CONSTRAINT [FK_KQUA_MAHP] FOREIGN KEY([MAHP])
REFERENCES [dbo].[HPHAN] ([MAHP])
GO
ALTER TABLE [dbo].[KQUA] CHECK CONSTRAINT [FK_KQUA_MAHP]
GO
ALTER TABLE [dbo].[KQUA]  WITH CHECK ADD  CONSTRAINT [FK_KQUA_MASV] FOREIGN KEY([MASV])
REFERENCES [dbo].[SVIEN] ([MASV])
GO
ALTER TABLE [dbo].[KQUA] CHECK CONSTRAINT [FK_KQUA_MASV]
GO
ALTER TABLE [dbo].[MHOC]  WITH CHECK ADD  CONSTRAINT [FK_MHOC_MAKH] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[MHOC] CHECK CONSTRAINT [FK_MHOC_MAKH]
GO
ALTER TABLE [dbo].[KQUA]  WITH CHECK ADD CHECK  (([DIEM]>=(0) AND [DIEM]<=(10)))
GO
ALTER TABLE [dbo].[SVIEN]  WITH CHECK ADD  CONSTRAINT [CK__SVIEN__NAM__1273C1CD] CHECK  (([NAM]>=(1) AND [NAM]<=(4)))
GO
ALTER TABLE [dbo].[SVIEN] CHECK CONSTRAINT [CK__SVIEN__NAM__1273C1CD]
GO
USE [master]
GO
